/* src/App.css */
header {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  color: var(--primary-color);
}

header nav a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1.2em;
}

header nav a:hover {
  text-decoration: underline;
}

.products--container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  border-radius: 10px;
}

@media (max-width: 1000px) {
  .products--container {
    grid-template-columns: 1fr;
    align-items: center;
  }
}
